*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
  display: grid;
  align-items: center;
  font-family: 'Poppins', sans-serif; 
  background-image: url('../image/bg.jpg');
  background-size: contain; 
  background-repeat: repeat; 
}
.container {
  display: flex;
  text-align: center;
  position: relative;
  justify-content: center;
  padding: 10%;
  

}
.box { 
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 1.25rem;
  margin-bottom: 20px;
  border-radius: 30px;
  opacity: 70%;
}
.boxframe { 
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  overflow:hidden ;
  opacity: 100%;
  border-radius:100%;
  background-repeat: no-repeat;
  background-size: 100%; 
}


@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(2, 82%, 55%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}