table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }

  
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.button_delete{
  padding: 5px 10px;
  background-color: crimson;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.button_edit{
  padding: 5px 10px;
  background-color: darkgreen;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.button_tambah{
  padding: 5px 10px;
  background-color:powderblue;
  color:black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  
}
